.card {
  background-color: #ffffff;
  border-radius: 8px;
  border: #ffa630;
  border-style: 5px;
  font-weight: 15px;
  width: 100%;
  display: inline-block;
  align-content: center;
}

span .card-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-decoration: underline;
}

li {
  font-family: "Open Sans", sans-serif;
  padding: 3.5px;
  font-size: 14px;
}

span {
  font-weight: bold;
}

.row {
  width: 100%;
  display: inline-block;
  margin: auto;
}

.wholecard {
  padding-left: 120px;
}

.rstlist {
  float: right;
}
